@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button.magic {
  font-family: "Kablammo", cursive;
  background-color: #f9ca24;
  color: rgb(117, 2, 112);
  font-weight: 600;
  border: 0;
  font-size: 16px;
  border-radius: 3px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 2px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
  transition: background-color 0.5s ease-out;
}

.magic:focus {
  outline: 0;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
  background-color: blueviolet;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;
  width: 400px;
  position: relative;
  top: 30px;
}

.big {
  height: 500px;
  width: 500px;
}

.box {
  background-color: yellow;
  height: 110px;
  width: 110px;
}
